/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; /* Set your desired background color */
}

header {
    background-color: #ffd700;
    text-align: center;
    padding: 20px;
}

header img {
    max-width: 100%;
    height: auto;
}

#birthday-message,
#music-player,
#virtual-gift {
    text-align: center;
    padding: 20px;
}

#gift-box {
    background-color: #ff4500;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

/* Additional styles for countdown page */
body.show-background {
    background: url('soon_birthday.gif') no-repeat center center fixed;
    background-size: contain;
}

#countdown-heading {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #000000; /* Set text color to black for better visibility on the background */
}

#birthday-content {
    display: none;
    color: #000000; /* Set text color to white for better visibility on the background */
}
